$bg: #eff3f6;
$bgfff: #ffffff;
$fff: #ffffff;
// color
$primary: #409EFF;
$warnning: #E6A23C ;
$success: #67C23A;
$info: #909399;
$danger:#F56C6C;
$textone: #303133;
$texttwo: #606266;
$textthree: #909399;
// text
$larger: 20px;
$large: 18px;
$medium: 16px;
$nomal: 14px;
$small: 13px;
$smaller: 12px;

